.col-sm-8{
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content max-content;
    gap: 10px;
    margin: 20px auto; 
    width:calc(100% - 40px) !important;
}

.form-group{
    display: grid !important;
    grid-template-columns: 150px 1fr;
}

.form-group .control-label{
    font-weight: 600;
}

.col-sm-8 h2{
    text-align: center;
}

.container-button{
    display: grid !important;
    grid-template-columns: max-content max-content;
    justify-content: end;
}

@media only screen and (max-width: 1000px) {
    .form-group{
    display: flex !important;
    flex-direction: column;
    }
}