main{
    display: grid !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    grid-template-columns: auto;
    gap: 20px;
    /* grid-template-rows: 80px auto; */
}

main div , main p{
  color: #113A8C !important;
}

.toast:not(.show){
    display: block !important;
  }

.toast{
    width: 100% !important;
    margin: 0 !important;
}

.toast-body{
  display: grid !important;
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 650px) {

  .toast-body{
  display: grid !important;
  grid-template-columns: auto auto ;
    justify-content: center;
    row-gap: 4px;
  }

  .toast-body :nth-child(3){
    grid-column: 1 / span 2;
  }
}
