main{
    display: grid !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    grid-template-columns: auto;
    gap: 30px;
    /* grid-template-rows: 80px auto; */
}

.toast:not(.show){
    display: block !important;
  }

.toast{
    width: 100% !important;
    margin: 0 !important;
}

