html,body{
    overflow: auto !important;
    }

body{
    display: grid;
    grid-template-rows: 1fr 60px ;
  }

  .panel:not(:last-child){
    margin-bottom: 0 !important;
  }

main{
    display: grid !important;
    grid-template-columns: minmax(200px ,280px) 1fr;
}

nav{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.nav-responsive{
    position: fixed;
    display: none;
    color: #485fc7 !important;
}

.panel-block{
    height: 45px !important;
    display: flex !important;
    gap: 5px;
    font-size: 17px;
    color: #6074CE !important;
}

.panel-icon{
    margin-top: -7px;
    color: #6B7ED1 !important;
}

.panel-heading{
    border-radius: 0 !important;
}

.is-active .panel-icon {
    color: #485fc7 !important;
}

.is-active{
    font-weight: 700;
    color: #485fc7 !important;
}

.log-out{
    margin-bottom: 10px;
}

.content-right{
    display: grid !important;
    grid-template-columns: 450px 400px;
    justify-content: space-between;
    margin: auto 50px;
}

.content-data-kerusakan{
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 50px max-content;
    margin: 20px;
}

.content-data-kerusakan h2{
    text-align: center;
    color: #485fc7 !important;
}

.content-data-kerusakan .button{
    color: white !important;
    background-color:  #485fc7 !important;
    border: 2px white solid !important;
    padding: 10px !important;
    border-radius: 6px !important;
}

.content-data-kerusakan .table thead th{
    color: #485fc7 !important;
}

  footer {

    bottom:0;
   width:100%; 
   background-color:#113A8C;
   color: white;
   height: 100%;
   display: flex !important;
   align-items: center;
   z-index: 20 !important
 }

 footer p{
   font-size: 18px;
   margin: auto;
   font-weight: bold;
 }



 @media only screen and (max-width: 1250px) {
    .content-right{
        grid-template-columns: 400px;
        margin: auto;
        gap: 20px;
    }
}

@media only screen and (max-width: 900px) {
    nav{
        width: 280px;
        position: fixed;
        height: calc(100% - 60px);
        z-index: 100 !important;
        left: -300px;
    }

    main{
        grid-template-columns: 1fr;
    }

    .nav-responsive{
        display: inherit;
        top: 3.5px;
        left: 5px;
        background-color: white;
        z-index: 101 !important;
        border-radius: 5px !important;
    }

    .nav-responsive i.icon{
        margin: 0 !important;
    }

    .slideOpen{
        left: 0;
        animation: open 0.5s ;
    }

    @keyframes open {
        from{
            left: -300px;
        }
        to{
            left: 0;
        }
    }

    .slideClosed{
        left: -300px;
        animation: closed 0.5s ;
    }

    @keyframes closed {
        from{
            left: 0;
        }
        to{
            left: -300px;
        }
    }

    .slideOpenGagang{
        left: 220px;
        animation: openGagang 0.5s ;
    }

    @keyframes openGagang {
        from{
            left: 5px;
        }
        to{
            left: 220px;
        }
    }

    .slideClosedGagang{
        left: 5px;
        animation: closedGagang 0.5s ;
    }

    @keyframes closedGagang {
        from{
            left: 220px;
        }
        to{
            left: 5px;
        }
    }
}