html,body{
overflow: auto !important;
}

main{
    display: flex !important;
    /* justify-content: center; */
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 10px;
    min-width: 400px;
    width: 70%;
    margin: 20px auto;
}

main div{

}

main h1{
    text-align: center;
}

.has-icons-left{
    display: grid;
}

.table td a {
    color: #485fc7 !important;
}

.main-diagnosa label{
    font-weight: 400;
    margin: 0;
}

.form-switch{
    display: flex !important;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.form-switch .form-check-input{
    width: 40px !important; 
    height: 20px;
}

.mobile{
    color: #485fc7 !important;
    padding-top: 8px;

}

nav{
    font-size: 14px !important;
}

.navbar-brand{
    display: block !important;
    padding-top: 8px !important;
}

.ciri-kerusakan .is-link{
    margin-top: 10px;
    font-weight: 500 !important;
}